@model DataTransferObject.Restaurant

@{
    ViewData["Title"] = "Menu";
}

    <h1>@Html.DisplayFor(model => model.name)</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nameDish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nameDish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="GetAllRestaurantsFromCity">Back to List</a>
</div>
