@model IEnumerable<DataTransferObject.Restaurant>

@{
    ViewData["Title"] = "GetAllRestaurants";
}

<h2>Those restaurants are in your city :</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSchedule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSchedule)
            </td>
            <td>
                @Html.ActionLink("Details", "Orders", new { id=item.IdRestaurant }) 
            </td>
        </tr>
}
    </tbody>
</table>
