@model IEnumerable<DataTransferObject.Restaurant>

@{
    ViewData["Title"] = "Restaurant menu";

    var quantity = "0";
}

<h2>Menu</h2>


<table class="table">
    <thead>
        <tr class="table-info">
            <th>
                Dishes
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.nameDish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("Add to cart", "Cart", null ,new { id = item.IdDish, name = item.nameDish, price = item.price }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
                
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            </td>

        </tr>
}
    </tbody>
</table>



    <div>
        <a asp-action="Index">Back to search</a>
    </div>
