@model DataTransferObject.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCustomer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCustomer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCourier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCourier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.streetname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.streetname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCity)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="GetCurrentOrders">Back to List</a>

    <a asp-action="GetAllOrders">Archives</a>
</div>
