@model IEnumerable<DataTransferObject.Order>

@{
    ViewData["Title"] = "All the orders :";
}

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<h2>Order archives : </h2>

<br />

<table class="table">
    <thead>
        <tr class="table-active">
            <th>
                Order number
            </th>
            <th>
                Delivery status
            </th>
            <th>
                Order time
            </th>
            <th>
                Customer name
            </th>
            <th>
                Street
            </th>
            <th>
                City code
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.streetname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCity)
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@if (Model == null)
{

    <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Looks like this section is empty.</h4>
        <p class="mb-0">This is here where all the orders cancelled, delivered or not will be displayed.<a href="#" class="alert-link"></a></p>
    </div>


}

<a asp-action="GetCustomerOrders">My orders</a>