@model IEnumerable<DataTransferObject.Order>

@{
    ViewData["Title"] = "All the orders :";
}

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Order number
            </th>
            <th>
                Delivery status
            </th>
            <th>
                Order time
            </th>
            <th>
                Customer name
            </th>
            <th>
                Street
            </th>
            <th>
                City code
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.streetname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCity)
                    </td>
                    <td>
                        @Html.ActionLink("Order delivered", "Edit", new { id = item.IdOrder, })
                    </td>
                </tr>
            }
        }
        
    </tbody>
</table>
<a asp-action="GetCustomerOrders">My orders</a>